 
  
  .Freedom-Ministry-Academy{
background-color: #000;
color: #fff;
padding: 8%;
font-size:300%;
text-align: center;
}
.flex-box{
  display: flex;
  justify-content: center;
  margin:5% auto;
}

.FMA-pic{
  margin-left: 10%;
  width: 80%;
}

@media screen and (max-width:700px) {
 .flex-box{
   display: block;
   
 }
}
.parallax-container {
  height: 500px; /* adjust the height as needed */
  overflow: hidden;
   
}

.parallax-container img {

  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
}



#form-frame {
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
  width: auto;
  height: auto;
   margin-top: 5%;
  margin-bottom: 10%px;
  margin-right: 5%;
  display: flex;
  align-items: top;
  color: grey;
}

 