body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  /*This is the logo of the church */
  .church-logo {
    margin-left: 20px;
    margin-top: 50px;
    top: 30px;
    left: 30px;
    border: 1 px solid;
    height: 70px;
    border-radius: 35px;
    cursor: pointer;
  }
  
  .header {
   width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    opacity: 0.6;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
  .header.hidden {
    background-color: transparent;
  }

 
  /* The partner button in the header */
  .partner-button {
    background-color: transparent;
    color: white;
    height: 30px;
    margin-top: 50px;
    width: 150px;
    border-radius: 20px;
    border-color: white;
    border-width: 1px;
    padding-top: 15px;
    padding-bottom: 30px;
    cursor: pointer;
    transition: transform 0.5s;
    margin-left: 500px;
    font-size: larger;
  }
  
  .partner-button:hover {
    transform: scale(1.1);
  }
  
  @media screen and (max-width: 900px) {
    .partner-button {
      margin-left: -100px;
    }
  }
  