 
.resources {
  background-color: #000;
  padding: 5%;
  color: #fff;
  font-size: 300%;
  text-align: center;
  margin-bottom: 10%;
}

.flex-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .flex-box {
    display: block;
    text-align: center;      
  }
} 